@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

.video-container {
  width: 80%;
}

.video-h-long {
  height: 450px;
}

.video-h-large {
  height: 250px;
}

video.video-content {
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

video.video-container-2 {
  width: 80%;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
}

a.btn-primary {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding: 15px 25px 15px 5px;
  text-align: left;
}

table td {
  padding: 20px 15px;
}